<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <p>
            download python
            in cmd
            check its verison = python --version
            pip install virtualenwrapper-win
            mkvirtualenv test       ( this what workon my_first_django)
            pip install django
            django-admin --version
            navigate to a folder in c dirve eg projects
            django-admin startproject telusko      ( this is where main url.py file and manage.py files will be created)
            python manage.py runserver              ( for checking the server is up in http://127.0.0.1:8000/)

            in vs
            open terminal and set to cmd
            workon test          ( your virtual environment name)
            python manage.py app_name   ( any name like you want to work on a app)
            python manage.py runserver      ( start your server)
            pip install Pillow      ( for handling media stuffs)
            pip install psycopg 2   ( for connecting pgadmin( ui for postgresql))
            python manage.py makemigrations     ( will create migration file eg 0009_init.py for creating tables and structures in db by class and it's properties, this is called orm( object-relational management))
            python manage.py sqlmigrate app_name migration_file_name   ( eg travel 0001 this will create a sql commit)
            python manage.py migrate    ( this will execute the query and complete migration)
            python manage.py createsuperuser   ( this will create super user to login to localhost:8000/admin - django's admin panel)



        </p>
        
        <script src="" async defer></script>
    </body>
</html>