<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Register Form for User</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <form action="register" method = "post">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="first name" /> <br>
        <input type="text" name="last_name" placeholder="last name" /> <br>
        <input type="text" name="username" placeholder="user name" /> <br>
        <input type="email" name="email" placeholder=" email" /> <br>
        <input type="password" name="password1" placeholder="password 1" /> <br>
        <input  type="password" name="password2" placeholder="password 2" /> <br>
        <input type="submit"/>
       </form>

       <div>
            {% for message in  messages %}
            <h3> {{message}} </h3>
            {% endfor %}
        
        <script src="" async defer></script>
    </body>
</html>